.about-min {
  border-top: 1px solid var(--stroke);
  &__head {
    display: flex;
    align-items: end;
    margin-bottom: 40px;
    gap: 75px;
    @include laptop-middle {
      gap: 30px;
    }
    @include tablet {
      flex-direction: column-reverse;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
  &__head-info {
    max-width: 560px;
    @include tablet {
      max-width: none;
    }
  }
  &__head-img {
    @include laptop-min {
      width: 360px;
    }
    @media (max-width: 865px) {
      width: 300px;
    }
    @include tablet {
      width: 400px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    @include laptop-middle {
      gap: 20px;
    }
    @include laptop-min {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 24px;
    border-radius: 20px;
    background-color: white;
    grid-column: 2 span;
    &:nth-child(5n + 4),
    &:nth-child(5n + 5) {
      grid-column: 3 span;
    }
    @include laptop-middle {
      padding: 16px;
    }
    @include laptop-min {
      width: fit-content;
    }
    @include tablet {
      gap: 17px;
      padding: 12px;
      .mini-gallery {
        width: 26px;
        height: 26px;
        &::before {
          width: 20px;
          height: 20px;
          right: -5px;
          bottom: -5px;
        }
      }
    }
  }
}
