.contacts {
  border-top: 1px solid var(--stroke);
  &__logo {
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    gap: 40px;
    @include laptop-min {
      display: block;
    }
  }
  &__main {
    flex: 1;
    @include laptop-min {
      margin-bottom: 40px;
    }
  }
  &__block {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include tablet {
      gap: 10px;
    }

    a {
      width: fit-content;
      @include hover {
        span {
          &::before {
            right: 0;
          }
        }
      }
      span {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          left: 0;
          right: 100%;
          bottom: 0;
          height: 1px;
          background-color: currentColor;
          transition: right 0.2s ease;
        }
      }
    }
  }
  &__list-btn {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.48px;

    @include tablet {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      gap: 10px;
    }

    .mini-gallery {
      width: 32px;
      height: 32px;
      @include tablet {
        width: 24px;
        height: 24px;
      }

      &::before {
        width: 20px;
        height: 20px;
        right: 0;
        bottom: 0;
        @include tablet {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
