.cooperation {
  border-top: 1px solid var(--stroke);
  overflow: hidden;
  &__slider {
    margin-top: 60px;
    overflow: visible !important;
    @include tablet {
      margin-top: 40px;
    }
  }
  &__slide {
    width: 240px !important;
    @include tablet {
      width: 120px !important;
    }
  }
  &__slide-img {
    width: 100%;
  }
}