:root {
  --content-width: 1600px;
  --offset-width: 15px;
  --container-width: calc(var(--content-width) + (var(--offset-width) * 2));
}

.container {
  max-width: var(--container-width) !important;
  width: 100% !important;
  padding: 0 var(--offset-width) !important;
  margin: 0 auto !important;
  @include desktop {
    max-width: 1190px !important;
  }
  @include mobile {
    padding: 0 10px !important;
  }
}