<section class="sect about-min">
  <div class="container">
    <div class="about-min__head">
      <div class="about-min__head-info">
        <h2 data-aos="fade-right" data-aos="fade-right" class="s-title mb-2">О нас</h2>
        <p data-aos="fade-right" class="lg-text md-lg-5 mb-4">
          Занимаемся разработкой сайтов
          <span>более <strong>17 лет</strong></span
          >, за это время реализовано
          <span><strong>400+</strong> проектов</span>, большую часть из которых
          мы продолжаем поддерживать и дорабатывать под новые задачи.
        </p>
        <p data-aos="fade-right" class="lg-text">
          Нам доверились множество компаний из разных сфер деятельности, таких
          как:
        </p>
      </div>
      <img
        data-aos="fade-up"
        src="@img/about-img.png"
        alt="image"
        class="about-min__head-img"
      />
    </div>
    <ul class="list about-min__list">
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Интернет-продажи</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">СМИ</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Фитнес</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Муниципальные проекты</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Агрегаторы данных</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Банки</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Туризм</span>
      </li>
      <li data-aos="fade-up" class="about-min__item">
        <div class="mini-gallery">
          <img src="@img/micro.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <span class="f-title">Образование</span>
      </li>
    </ul>
  </div>
</section>
