<section class="faq">
  <div class="container">
    <h2 class="s-title">Часто задаваемые вопросы</h2>
    <div class="faq__accordion" id="faq-accordion">
      <div>
        <div
          class="faq__accordion-btn"
          data-bs-toggle="collapse"
          data-bs-target="#faq-collapse-1"
        >
          <span class="f-title">Разработка</span>
          <div class="faq__accordion-rect"></div>
        </div>
        <div
          class="collapse"
          id="faq-collapse-1"
          data-bs-parent="#faq-accordion"
        >
          <p class="faq__accordion-content">
            Работаем с различными платформами и используем в своей работе
            современные технологии
          </p>
        </div>
      </div>

      <div>
        <div
          class="faq__accordion-btn"
          data-bs-toggle="collapse"
          data-bs-target="#faq-collapse-2"
        >
          <span class="f-title">Разработка</span>
          <div class="faq__accordion-rect"></div>
        </div>
        <div
          class="collapse"
          id="faq-collapse-2"
          data-bs-parent="#faq-accordion"
        >
          <p class="faq__accordion-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore,
            laudantium explicabo. Non obcaecati porro eius natus accusantium,
            cum reiciendis perspiciatis excepturi, quos odit, veritatis ad dolor
            maiores tempora molestias eaque.
          </p>
        </div>
      </div>

      <div>
        <div
          class="faq__accordion-btn"
          data-bs-toggle="collapse"
          data-bs-target="#faq-collapse-3"
        >
          <span class="f-title">Разработка</span>
          <div class="faq__accordion-rect"></div>
        </div>
        <div
          class="collapse"
          id="faq-collapse-3"
          data-bs-parent="#faq-accordion"
        >
          <p class="faq__accordion-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore,
            laudantium explicabo. Non obcaecati porro eius natus accusantium,
            cum reiciendis perspiciatis excepturi, quos odit, veritatis ad dolor
            maiores tempora molestias eaque.
          </p>
        </div>
      </div>

      <div>
        <div
          class="faq__accordion-btn"
          data-bs-toggle="collapse"
          data-bs-target="#faq-collapse-4"
        >
          <span class="f-title">Разработка</span>
          <div class="faq__accordion-rect"></div>
        </div>
        <div
          class="collapse"
          id="faq-collapse-4"
          data-bs-parent="#faq-accordion"
        >
          <p class="faq__accordion-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore,
            laudantium explicabo. Non obcaecati porro eius natus accusantium,
            cum reiciendis perspiciatis excepturi, quos odit, veritatis ad dolor
            maiores tempora molestias eaque.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
