<section class="hero">
  <div class="container hero__container">
    <h1 class="bann-title mt-0 mb-2 hero__title">
      Создаем современные сайты <br />
      для продажи ваших <br />
      товаров и услуг
    </h1>
    <p class="lg-text mb-4 hero__content">
      Мы занимаемся разработкой сайтов уже более 17 лет. В нашем
      арсенале большой опыт и дружная команда, проверенная временем.
    </p>
    <a href="#" class="button">Оставить заявку</a>
    <div class="hero__footer">
      <div class="hero__footer-item">
        <div class="hero__footer-value">~20 лет</div>
        <div class="hero__footer-content text-end text-sm-center">
          что-то про опыт
        </div>
      </div>
      <div class="hero__footer-item">
        <div class="hero__footer-value">>400</div>
        <div class="hero__footer-content text-end pe-sm-2">проектов</div>
      </div>
    </div>
    <div class="hero__gallery">
      <div class="hero__gallery-wrapper">
        <img src="@img/cock.png" alt="image" class="hero__gallery-img" />
        <img
          src="@img/cock-stroke.png"
          alt="image"
          class="hero__gallery-stroke"
        />
      </div>
    </div>
  </div>
</section>
