<section class="sect portfolio">
  <div class="container">
    <div class="portfolio__head">
      <h2 data-aos="fade-right" class="s-title">Портфолио</h2>
      <div class="filters d-none d-sm-flex" id="portfolio-nav">
        <a href="#" class="filters__btn">Интернет-магазины</a>
        <a href="#" class="filters__btn">Одностраничные</a>
        <a href="#" class="filters__btn">Корпоративные сайты</a>
        <a href="#" class="filters__btn">Онлайн-сервисы</a>
      </div>
    </div>
    <div class="d-flex flex-column gap-2 gal-xl-3">
      <div class="portfolio-card">
        <div class="portfolio-card__body">
          <ul class="list portfolio-card__list mb-3">
            <li><a href="#">Онлайн-сервис</a></li>
            <li><a href="#">https://ddoctors.ru/</a></li>
          </ul>
          <h3 class="t-title mb-2">Д-Доктора</h3>
          <p class="text mb-4">
            Уникальный онлайн-ресурс, созданный для врачей, студентов
            медицинских вузов, ученых и других специалистов в сфере
            здравоохранения
          </p>
          <div class="d-flex align-items-center justify-content-between gap-2">
            <a href="#" class="button">Подробнее</a>
            <div class="caption">Июнь 2024</div>
          </div>
        </div>
        <div class="portfolio-card__gallery">
          <img
            src="@img/porfolio-img.png"
            alt="image"
            class="portfolio-card__img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
