<section class="prices">
  <div class="container">
    <ul class="list breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li>Цены и сроки</li>
    </ul>
    <h1 data-aos="fade-right" class="m-title prices__title">Цены и сроки</h1>
    <div class="filters prices__nav" id="prices-nav">
      <a href="#" class="filters__btn">Все</a>
      <a href="#" class="filters__btn">Разработка сайтов</a>
      <a href="#" class="filters__btn">Контекстная реклама</a>
    </div>
    <div class="prices__block">
      <h3 class="t-title mb-3 mb-md-4">Разработка сайтов</h3>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img
            src="@img/code-window.svg"
            alt="icon"
            class="mini-gallery__icon"
          />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">Одностраничный сайт (Лендинг)</h4>
          <p class="caption m-0">Срок разработки от 14 дней</p>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 30 000 ₽</div>
        <button
          data-message-form-btn="Одностраничный сайт (Лендинг)"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img src="@img/building.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">Корпоративный сайт/сайт СМИ</h4>
          <p class="caption m-0">Срок разработки от 30 дней</p>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 100 000 ₽</div>
        <button
          data-message-form-btn="Корпоративный сайт/сайт СМИ"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img src="@img/store.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">Интернет-магазин</h4>
          <p class="caption m-0">Срок разработки от 60 дней</p>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 250 000 ₽</div>
        <button
          data-message-form-btn="Интернет-магазин"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img
            src="@img/code-window.svg"
            alt="icon"
            class="mini-gallery__icon"
          />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">Услуги программиста</h4>
          <p class="caption m-0">
            Тут может быть кратко перечислить, какие именно услуги?
          </p>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">4 000 ₽/час</div>
        <button
          data-message-form-btn="Услуги программиста"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img src="@img/audit.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">Аудит сайта</h4>
          <p class="caption m-0">
            Тут может быть кратко перечислить, какие именно услуги?
          </p>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 8 000 ₽</div>
        <button
          data-message-form-btn="Аудит сайта"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Контекстная реклама
        </button>
      </div>
    </div>
    <div class="prices__block">
      <h3 class="t-title mb-3 mb-md-4">Контекстная реклама</h3>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img src="@img/yandex.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">
            Настройка контекстной рекламы Яндекс
          </h4>
          <p class="caption m-0">От 7 дней</p>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 30 000 ₽</div>
        <button
          data-message-form-btn="Настройка контекстной рекламы Яндекс"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img src="@img/cog.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">
            Сопровождение контекстной рекламы
          </h4>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 30 000 ₽/мес.</div>
        <button
          data-message-form-btn="Сопровождение контекстной рекламы"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
      <div data-aos="fade-up" class="prices__item">
        <div class="mini-gallery align-self-start">
          <img src="@img/megaphone.svg" alt="icon" class="mini-gallery__icon" />
        </div>
        <div class="flex-fill mb-4 mb-sm-0 prices__item-info">
          <h4 class="f-title mb-2 mb-md-1">
            Аудит рекламной кампании
          </h4>
        </div>
        <div class="price-text-2 mb-3 m-sm-0 ms-auto">от 8 000 ₽</div>
        <button
          data-message-form-btn="Аудит рекламной кампании"
          data-bs-toggle="modal"
          data-bs-target="#price-learn-modal"
          class="button"
        >
          Заказать сайт
        </button>
      </div>
    </div>
  </div>
</section>
