.filters {
  display: flex;
  gap: 8px;
  @media (min-width: 992px) {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__btn {
    @include flex-center;
    text-align: center;
    cursor: pointer;
    padding: 8px 16px;
    background-color: white;
    border-radius: 8px;
    flex-shrink: 0;
    white-space: nowrap;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;

    transition: color .2s ease, background-color .2s ease;
    @include hover {
      background-color: var(--stroke);
    }
    @include pressed {
      background-color: var(--black);
      color: white;
    }
  }
}
