.select {
  position: relative;
  width: 100%;
  &._open {
    .select__body {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    .select__arrow {
      transform: rotate(180deg);
    }
    .select__input {
      color: var(--black);
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background: white;
    padding: 4px 5px 4px 10px;
  }
  &__input {
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    pointer-events: none;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;
    color: var(--gray);

    transition: color .2s ease;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    transition: transform .2s ease;
  }
  &__body {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 8px;
    z-index: 10;
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0px 5px 20px rgba(85, 85, 85, 0.24));

    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;

    transition: opacity .4s ease, visibility .4s ease, transform .4s ease
  }
  &__item {
    cursor: pointer;
    display: block;
    background-color: white;
    padding: 10px 15px;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;
    transition: color .2s ease, background-color .2s ease;
    @include hover {
      background-color: var(--stroke);
    }
    @include pressed {
      color: white;
      background-color: var(--black);
    }
  }
}
